<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Sorry - the site is currently down for maintenance.  Please try again soon.</p>
        {{> footer}}
    </body>
</html>